// based color palette:
// https://material.io/guidelines/style/color.html#color-color-palette

//
// A Color palette
//
// Pop uses the System76 palette

$almost_white: #f2f2f2;
$warm_gray: #282a36; // ORIGINAL DEFAULT #272b34
$dark_gray: #282a36; // ORIGINAL DEFAULT #272b34
$dark_neutral_gray: #2e313d; // #333
$light_gray: #97979b; // #999
$literally_black: #000;
$medium_gray: #888; // #888
$white: #fff;

// Brand Colors
$orange: #ff6ac1; // Pantone 137c  #eaa124 ORIGINAL DEFAULT: #faa41a
$blue: #57c7ff; // Pantone 7709c #62b5bb ORIGINAL DEFAULT: #48b9c7
$yellow: #ffbc58; // Pantone 1225c #f2c150 ORIGINAL DEFAULT: #ffce51
$red: #ff5c57; // Pantone 1665c #df6426 ORIGINAL DEFAULT: #f15d22
$green: #5af78e; // Confirmation/success ORIGINAL DEFAULT: #73c48f

// Extra Colors that need to be set according to the themes
$pink: #e91e63;
$purple: #9c27b0;
$deep_purple: #673ab7;
$indigo: #3f51b5;
$light_blue: #03a9f4;
$cyan: #00bcd4;
$teal: #009688;
$light_green: #8bc34a;
$lime: #cddc39;
$amber: #ffc107;
$deep_orange: #ff5722;
$blue_grey: #607d8b;

/* ORIGINAL
$pink: #e91e63;
$purple: #9c27b0;
$deep_purple: #673ab7;
$indigo: #3f51b5;
$light_blue: #03a9f4;
$cyan: #00bcd4;
$teal: #009688;
$light_green: #8bc34a;
$lime: #cddc39;
$amber: #ffc107;
$deep_orange: #ff5722;
$blue_grey: #607d8b; */

// Red
$red_50: lighten($red, 90%);
$red_100: lighten($red, 80%);
$red_200: lighten($red, 60%);
$red_300: lighten($red, 40%);
$red_400: lighten($red, 20%);
$red_500: $red;
$red_600: darken($red, 20%);
$red_700: darken($red, 40%);
$red_800: darken($red, 60%);
$red_900: darken($red, 80%);
$red_A100: lighten($red, 50%);
$red_A200: $red;
$red_A400: darken($red, 15%);
$red_A700: darken($red, 75%);

// Pink
$pink_50: #fce4ec;
$pink_100: #f8bbd0;
$pink_200: #f48fb1;
$pink_300: #f06292;
$pink_400: #ec407a;
$pink_500: #e91e63;
$pink_600: #d81b60;
$pink_700: #c2185b;
$pink_800: #ad1457;
$pink_900: #880e4f;
$pink_A100: #ff80ab;
$pink_A200: #ff4081;
$pink_A400: #f50057;
$pink_A700: #c51162;

// Purple
$purple_50: #f3e5f5;
$purple_100: #e1bee7;
$purple_200: #ce93d8;
$purple_300: #ba68c8;
$purple_400: #ab47bc;
$purple_500: #9c27b0;
$purple_600: #8e24aa;
$purple_700: #7b1fa2;
$purple_800: #6a1b9a;
$purple_900: #4a148c;
$purple_A100: #ea80fc;
$purple_A200: #e040fb;
$purple_A400: #d500f9;
$purple_A700: #aa00ff;

// Deep Purple
$deep_purple_50: #ede7f6;
$deep_purple_100: #d1c4e9;
$deep_purple_200: #b39ddb;
$deep_purple_300: #9575cd;
$deep_purple_400: #7e57c2;
$deep_purple_500: #673ab7;
$deep_purple_600: #5e35b1;
$deep_purple_700: #512da8;
$deep_purple_800: #4527a0;
$deep_purple_900: #311b92;
$deep_purple_A100: #b388ff;
$deep_purple_A200: #7c4dff;
$deep_purple_A400: #651fff;
$deep_purple_A700: #6200ea;

// Indigo
$indigo_50: #e8eaf6;
$indigo_100: #c5cae9;
$indigo_200: #9fa8da;
$indigo_300: #7986cb;
$indigo_400: #5c6bc0;
$indigo_500: #3f51b5;
$indigo_600: #3949ab;
$indigo_700: #303f9f;
$indigo_800: #283593;
$indigo_900: #1a237e;
$indigo_A100: #8c9eff;
$indigo_A200: #536dfe;
$indigo_A400: #3d5afe;
$indigo_A700: #304ffe;

// Blue
$blue_50: lighten(#48b9c7, 90%);
$blue_100: lighten(#48b9c7, 80%);
$blue_200: lighten(#48b9c7, 60%);
$blue_300: lighten(#48b9c7, 40%);
$blue_400: lighten(#48b9c7, 20%);
$blue_500: #48b9c7;
$blue_600: darken(#48b9c7, 20%);
$blue_700: darken(#48b9c7, 40%);
$blue_800: darken(#48b9c7, 60%);
$blue_900: darken(#48b9c7, 80%);
$blue_A100: lighten(#48b9c7, 50%);
$blue_A200: #48b9c7;
$blue_A400: darken(#48b9c7, 15%);
$blue_A700: darken(#48b9c7, 75%);

// Light Blue
$light_blue_50: #e1f5fe;
$light_blue_100: #b3e5fc;
$light_blue_200: #81d4fa;
$light_blue_300: #4fc3f7;
$light_blue_400: #29b6f6;
$light_blue_500: #03a9f4;
$light_blue_600: #039be5;
$light_blue_700: #0288d1;
$light_blue_800: #0277bd;
$light_blue_900: #01579b;
$light_blue_A100: #80d8ff;
$light_blue_A200: #40c4ff;
$light_blue_A400: #00b0ff;
$light_blue_A700: #0091ea;

// Cyan
$cyan_50: #e0f7fa;
$cyan_100: #b2ebf2;
$cyan_200: #80deea;
$cyan_300: #4dd0e1;
$cyan_400: #26c6da;
$cyan_500: #00bcd4;
$cyan_600: #00acc1;
$cyan_700: #0097a7;
$cyan_800: #00838f;
$cyan_900: #006064;
$cyan_A100: #84ffff;
$cyan_A200: #18ffff;
$cyan_A400: #00e5ff;
$cyan_A700: #00b8d4;

// Teal
$teal_50: #e0f2f1;
$teal_100: #b2dfdb;
$teal_200: #80cbc4;
$teal_300: #4db6ac;
$teal_400: #26a69a;
$teal_500: #009688;
$teal_600: #00897b;
$teal_700: #00796b;
$teal_800: #00695c;
$teal_900: #004d40;
$teal_A100: #a7ffeb;
$teal_A200: #64ffda;
$teal_A400: #1de9b6;
$teal_A700: #00bfa5;

// Green
$green_50: lighten($green, 90%);
$green_100: lighten($green, 80%);
$green_200: lighten($green, 60%);
$green_300: lighten($green, 40%);
$green_400: lighten($green, 20%);
$green_500: $green;
$green_600: darken($green, 20%);
$green_700: darken($green, 40%);
$green_800: darken($green, 60%);
$green_900: darken($green, 80%);
$green_A100: lighten($green, 50%);
$green_A200: $green;
$green_A400: darken($green, 15%);
$green_A700: darken($green, 75%);

// Light Green
$light_green_50: #f1f8e9;
$light_green_100: #dcedc8;
$light_green_200: #c5e1a5;
$light_green_300: #aed581;
$light_green_400: #9ccc65;
$light_green_500: #8bc34a;
$light_green_600: #7cb342;
$light_green_700: #689f38;
$light_green_800: #558b2f;
$light_green_900: #33691e;
$light_green_A100: #ccff90;
$light_green_A200: #b2ff59;
$light_green_A400: #76ff03;
$light_green_A700: #64dd17;

// Lime
$lime_50: #f9fbe7;
$lime_100: #f0f4c3;
$lime_200: #e6ee9c;
$lime_300: #dce775;
$lime_400: #d4e157;
$lime_500: #cddc39;
$lime_600: #c0ca33;
$lime_700: #afb42b;
$lime_800: #9e9d24;
$lime_900: #827717;
$lime_A100: #f4ff81;
$lime_A200: #eeff41;
$lime_A400: #c6ff00;
$lime_A700: #aeea00;

// Yellow
$yellow_50: lighten($yellow, 90%);
$yellow_100: lighten($yellow, 80%);
$yellow_200: lighten($yellow, 60%);
$yellow_300: lighten($yellow, 40%);
$yellow_400: lighten($yellow, 20%);
$yellow_500: $yellow;
$yellow_600: darken($yellow, 20%);
$yellow_700: darken($yellow, 40%);
$yellow_800: darken($yellow, 60%);
$yellow_900: darken($yellow, 80%);
$yellow_A100: lighten($yellow, 50%);
$yellow_A200: $yellow;
$yellow_A400: darken($yellow, 15%);
$yellow_A700: darken($yellow, 75%);

// Amber
$amber_50: #fff8e1;
$amber_100: #ffecb3;
$amber_200: #ffe082;
$amber_300: #ffd54f;
$amber_400: #ffca28;
$amber_500: #ffc107;
$amber_600: #ffb300;
$amber_700: #ffa000;
$amber_800: #ff8f00;
$amber_900: #ff6f00;
$amber_A100: #ffe57f;
$amber_A200: #ffd740;
$amber_A400: #ffc400;
$amber_A700: #ffab00;

// Orange
$orange_50: lighten(#faa41a, 90%);
$orange_100: lighten(#faa41a, 80%);
$orange_200: lighten(#faa41a, 60%);
$orange_300: lighten(#faa41a, 40%);
$orange_400: lighten(#faa41a, 20%);
$orange_500: #faa41a;
$orange_600: darken(#faa41a, 20%);
$orange_700: darken(#faa41a, 40%);
$orange_800: darken(#faa41a, 60%);
$orange_900: darken(#faa41a, 80%);
$orange_A100: lighten(#faa41a, 50%);
$orange_A200: #faa41a;
$orange_A400: darken(#faa41a, 15%);
$orange_A700: darken(#faa41a, 75%);

// Deep Orange
$deep_orange_50: #fbe9e7;
$deep_orange_100: #ffccbc;
$deep_orange_200: #ffab91;
$deep_orange_300: #ff8a65;
$deep_orange_400: #ff7043;
$deep_orange_500: #ff5722;
$deep_orange_600: #f4511e;
$deep_orange_700: #e64a19;
$deep_orange_800: #d84315;
$deep_orange_900: #bf360c;
$deep_orange_A100: #ff9e80;
$deep_orange_A200: #ff6e40;
$deep_orange_A400: #ff3d00;
$deep_orange_A700: #dd2c00;

// Brown
$brown_50: lighten(#574f4a, 97%);
$brown_100: lighten(#574f4a, 90%);
$brown_200: lighten(#574f4a, 75%);
$brown_300: lighten(#574f4a, 60%);
$brown_400: lighten(#574f4a, 45%);
$brown_500: lighten(#574f4a, 30%);
$brown_600: lighten(#574f4a, 15%);
$brown_700: #574f4a;
$brown_800: darken(#574f4a, 15%);
$brown_900: darken(#574f4a, 30%);

// Grey
$grey_50: #fafafa;
$grey_100: #f5f5f5;
$grey_200: #eeeeee;
$grey_300: #e0e0e0;
$grey_400: #bdbdbd;
$grey_500: #9e9e9e;
$grey_600: #757575;
$grey_700: #616161;
$grey_800: #424242;
$grey_900: #212121;

// Blue Grey
$blue_grey_50: #eceff1;
$blue_grey_100: #cfd8dc;
$blue_grey_200: #b0bec5;
$blue_grey_300: #90a4ae;
$blue_grey_400: #78909c;
$blue_grey_500: #607d8b;
$blue_grey_600: #546e7a;
$blue_grey_700: #455a64;
$blue_grey_800: #37474f;
$blue_grey_900: #263238;

// Black
$black: #000000;

// White
$white: #ffffff;
